  #container{
        height: 700px;
        width:80%;
        margin-left:10%;
        margin-top:2%;
        /* border:2px solid red; */
    }
    .filter{
        height: 400px;
        width:20%;
        border:2px solid black;
        float:left;
        font-size:17px;
    }
    .cusiniefilter{
        margin-left: 15px;
    }
    .cusiniefilter>h3{
        font-size: 19px;
        text-align: center;
    }
    .cusiniefilter>li{
        list-style: circle;
        font-size:19px;
    }
    .costfilter{
        margin-left: 15px;
    }
    .costfilter>h3{
        font-size: 19px;
        text-align: center;
    }
    .costfilter>li{
        list-style: circle;
        font-size:19px;
    }
    .content{
        height: 250px;
        width:72%;
        margin-left:4%;
        /* border:2px solid green; */
        float:left;
        border-radius:10px;
        margin-top:40px;
        box-shadow:1px 3px 5px gray;
    }
    .content2{
        height: 250px;
        width:72%;
        margin-left:4%;
        /* border:2px solid green; */
        float:left;
        border-radius:10px;
        margin-top:15px;
        box-shadow:1px 3px 5px gray;
    }
    .image{
        float:left;
        /* border:2px solid red; */
    }
    .image>img{
        border-radius: 23px;
        width:100%;
        margin-left:4%;
        margin-top:4%;
    }
    .details{
        float:right;
        /* border:2px solid red; */
        height: 250px;
        width:50%;
    }
    .btn{
        margin:4px;
        color: white;
        border-radius:7px;
        margin-top:-2%;
    }
    .btn1{
        color: white;
        border-radius:7px;
    }
    
    
    
    